!!! XML
!!!
%html
  %head
    %title 
      =t.profession

    = css_assets 'base'

    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" }
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{:name => "google-site-verification", :content => "ywM0adqhf8d5P1T2KXTAIzIFF7Mq3SOQUk-lIHQtowo" }
  %body

    .container

      .row
        .col-xs-12
          %h1 Werner Echezuría
      .row
        .col-xs-12
          %h3=t.profession


      .span-24
        .book_wrapper
        
          %a#next_page_button
          %a#prev_page_button

          #mybook{:style => "display:none;"}
            
            .b-load
              %div
                #logos
                  .span-10
                    .logo-name
                  .span-14.last
                  .span-24
                    .logo-developer
                      =t.profession
              %div
                .span-24
                  .brush-font.title-style
                    =t.home
              %div
                = partial(:home)
              %div
                .span-24
                  .brush-font.title-style
                    =t.skills
              %div
                = partial(:skills)
              %div
                .span-24
                  .brush-font.title-style
                    =t.work
              %div
                = partial(:work)
              %div
                .span-24
                  .brush-font.title-style
                    =t.contact
              %div
                = partial(:contact)
    

    %script{:src => "http://code.jquery.com/jquery-1.10.1.min.js"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}

    = js_assets 'base'
