!!! XML
!!!
%html
  %head
    %title 
      =t.profession

    = css_assets 'base'
    
    %meta{:name => "google-site-verification", :content => "ywM0adqhf8d5P1T2KXTAIzIFF7Mq3SOQUk-lIHQtowo" }
  %body
    .container

      .span-14
        .menu
          %ul#menu
            %li
              %a{:href=>"#", :title=>t.home, :id => "home", :class => "menu"}
            %li
              %a{:href=>"#", :title=>t.skills, :id => "skills", :class => "menu"}
            %li
              %a{:href=>"#", :title=>t.work, :id => "work", :class => "menu"}
            %li
              %a{:href=>"#", :title=>t.contact, :id => "contact", :class => "menu"}

      .span-24
        .book_wrapper
        
          %a#next_page_button
          %a#prev_page_button

          #mybook{:style => "display:none;"}
            
            .b-load
              %div
                #logos
                  .span-10
                    .logo-name
                      Werner Echezuría
                  .span-14.last
                  .span-24
                    .logo-developer
                      =t.profession
              %div
                .span-24
                  .brush-font.title-style
                    =t.home
              %div
                = partial(:home)
              %div
                .span-24
                  .brush-font.title-style
                    =t.skills
              %div
                = partial(:skills)
              %div
                .span-24
                  .brush-font.title-style
                    =t.work
              %div
                = partial(:work)
              %div
                .span-24
                  .brush-font.title-style
                    =t.contact
              %div
                = partial(:contact)
    

    %script{:src => "http://code.jquery.com/jquery-1.10.1.min.js"}
    = js_assets 'base'
